{{#if userEn}}
    <footer class="site-footer border-top mt-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="row">
              <div class="col-md-12">
                <h3 class="footer-heading mb-4 h4 text-success">SHOPPERS</h3>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="/">Go Home</a></li>
                  <li><a href="/">Help</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="/order-list">Order details</a></li>
                  <li><a href="/user-details">Profile details</a></li>
                </ul>
              </div>
              <div class="col-md-6 col-lg-4">
                <ul class="list-unstyled">
                  <li><a href="/wishlist">Wishlist</a></li>
                  <li><a href="/cart">Cart details</a></li>
                </ul>
              </div>
            </div>
          </div>
         
          <div class="col-md-6 col-lg-3">
            <div class="block-5 mb-5">
              <h3 class="footer-heading mb-4">Contact Info</h3>
              <ul class="list-unstyled">
                <li class="address">Padamugal-Kakkanad, Kochi, Ernakulam</li>
                <li class="phone"><a href="">+91 9846474994</a></li>
                <li class="email">shoppers@gmail.com</li>
              </ul>
            </div>

          </div>
        </div>
       
      </div>
    </footer>
    {{/if}}