<style>
	body {
		background: #f7f7ff;
		margin-top: 0px;
	}

	.card {
		margin-top: 30px;

		position: relative;
		display: flex;
		flex-direction: column;
		min-width: 0;
		word-wrap: break-word;
		background-color: #fff;
		background-clip: border-box;
		border: 0 solid transparent;
		border-radius: .25rem;
		margin-bottom: 1.5rem;
		box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
	}

	.me-2 {
		margin-right: .5rem !important;
	}
</style>



<div class="container ">
	<div class="main-body ">
		<div class="row">


			<div class="col-lg-8 m-auto">
				<div class="card">
					<div class="card-body ">
						<form action="/add-address" method="post" id="form" class="p-5">
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">House Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="HouseName" id="housename" value=""
										required>
									<span style="color:red;" id="houseNameErr"></span>

								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Street Location</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="StreetLocation" id="streetlocation"
										value="" required>
									<span style="color:red;" id="streetLocationErr"></span>
								</div>
							</div>
							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">Pincode</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="Pincode" id="pincode" value=""
										required>
									<span style="color:red;" id="pincodeErr"></span>
								</div>
							</div>

							<div class="row mb-3">
								<div class="col-sm-3">
									<h6 class="mb-0">State</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									<input type="text" class="form-control" name="State" id="state" value="" required>
									<span style="color:red;" id="stateErr"></span>
								</div>
							</div>




							<div class="row">
								<div class="col-sm-3"></div>
								<div class="col-sm-9 text-secondary mt-5">
									<button type="submit" class="btn btn-primary px-4 " id="click">Submit</button>
									<a href="/user-details" class="btn btn-dander px-4">Cancel</a>

								</div>
							</div>
						</form>
					</div>

				</div>
			</div>
		</div>
	</div>

</div>




<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk="
	crossorigin="anonymous"></script>

<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script>
	$('#click').on('click', function () {

		Swal.fire({
			position: 'top-end',
			//icon: 'success',
			title: 'Address is saved',
			showConfirmButton: false,
			timer: 15000000000
		})
	})

</script>









<script>

	const houseName = document.getElementById('housename')
	const city = document.getElementById('streetlocation')
	const pinCode = document.getElementById('pincode')
	const state = document.getElementById('state')
	const form = document.getElementById("form")


	let error1 = document.getElementById('houseNameErr')
	let error2 = document.getElementById('streetLocationErr')
	let error3 = document.getElementById('pincodeErr')
	let error4 = document.getElementById('stateErr')


	form.addEventListener('submit', (e) => {
		let message1 = []
		let message2 = []
		let message3 = []
		let message4 = []



		if (houseName.value === '' || houseName.value === null) {
			message1.push('Please Enter the house name')
		}
		if (city.value === '' || city.value === null) {
			message2.push('Please Enter the street location')
		}
		if (pinCode.value === '' || pinCode.value === null) {
			message3.push('Please Enter the pincode')
		}
		else if (isNaN(pinCode.value)) {
			message3.push('Enter the Valid Pincode')
		}
		if (state.value === '' || state.value === null) {
			message4.push('Please Enter the state')
		} else if (isNaN(state.value) == false) {
			message3.push('Enter the Valid Pincode')
		}


		if (message1.length > 0) {
			e.preventDefault();
			error1.innerText = message1.join(' ')
		}
		else {
			error1.innerText = ' '
		}
		if (message2.length > 0) {
			e.preventDefault();
			error2.innerText = message2.join(' ')
		}
		else {
			error2.innerText = ' '
		}
		if (message3.length > 0) {
			e.preventDefault();
			error3.innerText = message3.join('  ')
		}
		else {
			error3.innerText = ' '
		}
		if (message4.length > 0) {
			e.preventDefault();
			error4.innerText = message4.join(' ')
		}
		else {
			error4.innerText = ' '
		}



	})



</script>