<div class="container ">
    <div class="main-body  ">
        <div class="row">


<div class="col-lg-8 m-auto ">
    <h5 style="margin-top: 1rem;">Change Password</h5>
    <div class="card " style="margin-top:1rem">
        <div class="card-body ">
            <form action="/edit-password" method="post" id="form" class="p-5">
                <div class="row mb-3">
                    <div class="col-3">
                        <h6 class="mb-0">Current Password</h6>
                    </div>
                    <div class="col-9 text-secondary">
                        <input type="text" class="form-control" name="OldPassword" id="oldpassword"
                            value="">
                        <span style="color:red;" id="oldpasswordErr"></span>

                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-3">
                        <h6 class="mb-0">New Password</h6>
                    </div>
                    <div class="col-9 text-secondary">
                        <input type="text" class="form-control" name="NewPassword" id="newpassword"
                            value="">
                        <span style="color:red;" id="newpasswordErr"></span>

                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-3">
                        <h6 class="mb-0">Confirm Password</h6>
                    </div>
                    <div class="col-9 text-secondary">
                        <input type="text" class="form-control" name="ConfirmPassword" id="confirmpassword"
                            value="">
                        <span style="color:red;" id="confirmpasswordErr"></span>

                    </div>
                </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-sm-9 text-secondary mt-2">
                        <button type="submit" class="btn btn-primary px-4">Submit</button>
                        <a href="/user-details" class="btn btn-dander px-4">Cancel</a>

                    </div>
                </div>
            </form>
        </div>
    </div>
</div>




<script>
const oldpassword = document.getElementById("oldpassword");
const newpassword = document.getElementById("newpassword");
const confirmpassword = document.getElementById("confirmpassword");
const form = document.getElementById("form")

const error1 = document.getElementById("oldpasswordErr");
const error2 = document.getElementById("newpasswordErr")
const error3 = document.getElementById("confirmpasswordErr");


form.addEventListener('submit', (e) => {
    let message1 = []
    let message2 = []
    let message3 = []


    if (oldpassword.value === '' || oldpassword.value == null) {
        message1.push('Please enter the old password')

    } else if (oldpassword.value.length < 6 || oldpassword.value.length > 6) {
        message1.push('Password length must be 6')
    }
    if (newpassword.value === '' || newpassword.value == null) {
        message2.push('Please enter the new password')
    } else if (newpassword.value.length < 6 || newpassword.value.length > 6) {
        message2.push('Password length must be 6')
    }

    if (confirmpassword.value === '' || confirmpassword.value === null) {
        message3.push('Please enter new password to confirm')
    }
    else if (confirmpassword.value.length < 6 || confirmpassword.value.length > 6) {
        message3.push('Password length must be 6')
    }


    if (message1.length > 0) {
        e.preventDefault();
        error1.innerText = message1.join(' ')
    }
    else {
        error1.innerText = ' '

    }
    if (message2.length > 0) {
        e.preventDefault();
        error2.innerText = message2.join(' ')
    }
    else {
        error2.innerText = ' '

    } if (message3.length > 0) {
        e.preventDefault();
        error3.innerText = message3.join(' , ')
    }
    else {
        error3.innerText = ' '

    }



})



</script>