<section>
          <div style="height: 300px; background-color:#fff !important" class="mt-5">

          <div class="row">
                    <div class="container ">
                              <h3 class="text-center " style="margin-top:20px;color:rgb(11, 167, 11) ">Order Placed Successfully</h3><br>
                              <h4 class="text-center"><i style="color: green;" class="fa fa-check-square-o fa-4x" aria-hidden="false"></i></h4>
                              <a href="/order-list" class="btn btn-primary" style="width: 209px; margin-left:458px; margin-top:4px;">View Orders</a>
                    </div>
          </div>
          </div>
</section>


